<div>
  <%= div_for(current_step) do %>
    <p>

      Step: <%= current_step.description %>
      <%= link_to "(edit)", [:edit, current_step], remote: true %><br>

      Target Day: <%= time_tag(current_step.target_date) %><br>

      <% if current_user.owns_step? current_step %>
        <%= form_for current_step, builder: CheckToComplete, remote: true do |form| %>
          Complete: <%= form.check_to_complete %>
          <%= form.hidden_submit %>
        <% end %>
      <% end %>

      <%= link_to "Remove this Step", current_step, method: :delete, confirm: "Really? Remove this Step?", remote: true %><br>

    </p>
  <% end %>
</div>
