<div class="current-goal">
  <%= div_for(current_step) do %>
	<div class="item-header" id="step-header">
    <h3 class="item-header-text" id="step-header-text">Checkpoint</h3>
  </div>
	  <div class="x-to-delete">
	    <%= link_to "x", current_step, method: :delete, confirm: "Really? Remove this Checkpoint?", remote: true %>
	  </div>
    <h3 id="goal-description"><%= current_step.description %></h3>
    Target Day: <%= time_tag(current_step.target_date) %>
    <%= link_to "(edit)", [:edit, current_step], remote: true %>

    <% if current_user.owns_step? current_step %>
      <%= form_for current_step, builder: CheckToComplete, remote: true do |form| %>
        Complete: <%= form.check_to_complete %>
        <%= form.hidden_submit %>
      <% end %>
    <% end %>
  <% end %>
</div>
