<div id="content-wrapper">
  <div id="new_goal_step_form", class="form-pop">
    <h2>New Step</h2>
    <div class="form">
      <%= form_for [@goal, @step], remote: true do |form| %>
        <%= render "form_errors", target: @step %>
        <div><%= form.text_area :description, placeholder: "Goal Step" %></div>
        <div><%= form.label "Target Date:" %></div>
        <div><%= form.date_field :target_date %></div>
        <div><%= form.submit "Add Goal Step" %></div>
      <% end %>
    </div>
  </div>
</div>
