<div id="edit_goal_form", class="form-pop">
  <h2>Edit this Goal</h2>
  <div class="form">
    <%= form_for @goal, remote: true do |form| %>
      <%= render "form_errors", target: @goal %>
      <div><%= form.text_area :description, placeholder: "Goal" %></div>
      <div><%= form.label "Target Date:" %></div>
      <div><%= form.date_field :target_date %></div>
      <div><%= form.submit "Update" %></div>
    <% end %>
  </div>
</div>
