<div>
  <%= div_for(goal) do %>
    <p>
      Goal: <%= goal.description %>

      <% if goal.status == "current" %>
        <%= link_to "(edit)", [:edit, goal], remote: true %><br>
        Target Day: <%= time_tag(goal.target_date) %>
        <div class="goal_step_links">
          Goal Steps: <%= link_to "Add", [:new, goal, :step], id: "new_goal_step", remote: true %>
          <% if goal.has_steps? %>
            <%= link_to "View", goal %>
          <% end %>
        </div>

        <%= form_for goal, builder: CheckToComplete, remote: true do |form| %>
          Complete: <%= form.check_to_complete %>
          <%= form.hidden_submit %>
        <% end %>

      <% else %>
         <br>Completed on: <%= time_tag(goal.completed_on) %><br>
      <% end %>

      <%= link_to "Remove this Goal", goal, method: :delete, confirm: "Really? Remove this Goal?", remote: true %><br>
    </p>
  <% end %>
</div>
