<!DOCTYPE html>
<html>
<head>
  <title>Checkpoint</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main-body">

  <% if signed_in? %>
    <%= link_to 'Sign out', sign_out_path, method: :delete %>
    Signed in as: <%= current_user.email %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<div>
  <%= yield %>
</div>

</body>
</html>
